@import url('https://fonts.googleapis.com/css2?family=New+Rocker&family=Raleway&display=swap');

/* globals */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background: #171717 url("../images/background.png") repeat center center;
    color: #EDEDED;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* header & headings */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  text-align: center;
}

#logo {
  border-radius: 50%;
}

#title-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1, h3 {
  font-family: 'New Rocker', cursive;
  letter-spacing: 5px;
}

h3 {
  font-size: 2rem;
}

h2, h4 {
  letter-spacing: 4px;
}

h4 {
  font-size: 1.5rem;
}

#title {
  font-size: 5rem;
  color: #F1473A;
  text-shadow: 0px -2px 4px #fff, 0px -2px 10px #FF3, 0px -10px 20px #F90, 0px -20px 40px #C33;
}

/* section */

section {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* main container of the game where all the game is loaded */

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: rgb(241, 71, 58, 0.7);
  min-height: 500px;
  width: 700px;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 1rem;
  gap: 1rem;
}

/* divs where the game are loaded not visible at the start */

#questions-game, #finish-game, #rules,  #leaderboard, #message, #finish-message {
  display: none;
  text-align: center;
}

/* main classes to organise the content load on the main container */

.main-game {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.button {
  height: 50px;
  width: 200px;
  background-color: #F79326;
  border: 3px solid #171717;
  border-radius: 5px;
  font-size: 1.5rem;
  font-family: 'New Rocker', cursive;
  letter-spacing: 4px;
  color: #171717;
  text-align: center;
}

#finish {
  display: none;
}

.messages {
  font-size: 1rem;
  background-color: #171717;
  padding: 0.5rem;
  border-radius: 5px;
}

#container-rules {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  margin-left: 30px;
}

#container-rules li {
  padding: 0 0 10px 10px;
}

/* START GAME */

.input {
  height: 40px;
  width: 200px;
  border: 5px solid #171717;
  border-radius: 5px;
  padding: 5px;
  font-family: 'New Rocker', cursive;
  font-size: 1.2rem;
  letter-spacing: 3px;
  text-align: center;
  color: #F1473A;
}

#categories {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: 'New Rocker';
  font-size: 1.5rem;
  letter-spacing: 3px;
  color: #171717;
}

/* QUESTIONS LOADED */

.options {
  font-size: 1rem;
  width: 300px;
  height: 80px;
  white-space: normal;
  padding: 10px;
  border: 3px solid #EDEDED;
  border-radius: 10px;
  background-color: #171717;
  color: #EDEDED;
  font-family: 'Raleway', sans-serif;
  letter-spacing: 4px;
}

.options:hover {
  /* !emojicursor.app */
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🤘</text></svg>") 16 0,auto; 
}

.album-cover {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.correct {
  background-color: #008000;
}

.incorrect {
  background-color: #ff0000;
}

.selected {
  border: 5px solid #171717;
}

.game-controls {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* RESULT */

#result-image {
  width: 256px;
  height: 256px;
  border-radius: 5px;
  background-size: cover;
}

/* LEADERBOARD */

#leaderboard-table {
  border-collapse: collapse;
  width: 100%;
}

#leaderboard-table td, #leaderboard-table th {
  border: 3px solid #EDEDED;
  padding: 1rem;
  letter-spacing: 3px;
}

#leaderboard-table th {
  font-family: 'New Rocker', cursive;
  background-color: #171717;
}

/* footer */

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: .5rem;
  padding-bottom: 1rem;
  text-align: center;
}

footer p {
  font-size: 1rem;
  padding: 0 .5rem;
  line-height: 25px;
}

footer a {
  text-decoration: none;
  letter-spacing: 10px;
}

footer i {
  color:#EDEDED;
}

/* media queries */

@media screen and (min-width:768px) {
  body {
      font-size: 1.5rem;
  }

  header, #categories {
      flex-direction: row;
  }

  .game-controls {
    flex-direction: row-reverse;
  }

  #logo {
    width: 256px;
    height: 256px;
  }

  #title {
    font-size: 8rem;
  }

}
