@import url('https://fonts.googleapis.com/css2?family=New+Rocker&family=Raleway&display=swap');

/* globals */

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: black;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
}

h1, h2 {
  font-family: 'New Rocker', cursive;
}